.feedback{
    font-size: 14px;
    padding: .6em .6em 11vw .6em;
}

.feedback__texto-negrito{
    font-weight: 600;
}

.feedback__conteudo{
    display: flex;
}

.feedback__titulo{
    margin-right: .2em;
    font-weight: 600;
}

.feedback__texto,
.feedback__conteudo,
.feedback__comentario,
.feedback__ver-comentarios{
    margin-bottom: .4em;
}

.feedback__perfil{
    width: 7%;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    margin-right: .5em;
}

.feedback__comentario{
    display: flex;
}

.feedback__input{
    border: none;
}

.feedback__input:focus{
    outline: none;
    text-decoration: none;
}

.feedback__input::placeholder{
    font-size: 14px;
    color: var(--cinza);
}

.feedback__ver-comentarios{
    color: var(--cinza)
}