.swiper{
    width: 100vw;
    max-width: 500px;
}

.carrossel__imagem{
    max-width: 500px;
    width: 100vw;
}

.swiper-button-prev,
.swiper-button-next{
    display: none;
}

.swiper-wrapper{
    align-items: center;
}
